<% content_for :title do %>ログイン<% end %>

<div class="flex justify-center">
  <%= form_with url: sessions_path, local: true, scope: :session do |f| %>
    <div class="mb-2">
      <%= f.label :email, 'メールアドレス', class: "block" %>
      <%= f.email_field :email, required: true, class: "border rounded" %>
    </div>

    <div class="mb-2">
      <%= f.label :password, 'パスワード', class: "block" %>
      <%= f.password_field :password, required: true, class: "border rounded" %>
    </div>

    <div class="flex items-center justify-center">
      <%= f.submit "ログイン", class: "hover:bg-blue-300 py-1 px-2 border rounded" %>
    </div>
  <% end %>
</div>
